//colors for gradients
$bottom-gradient: #ca70b9;
$top-gradient: #a77bfe;
$bottom-btn: #1d94c7;
$top-btn: #47cec5;
$bottom-btn2: #696afd;
$top-btn2: #af48f1;
$bottom-btn3: #ff6b98;
$top-btn3: #ff8271;
$bar-left: #ff65a5;
$bar-right: #ff8965;
$bar2-right: #686afe;
$bar2-left: #b148f1;
$button-right: #6d67fd;
$button-left: #aa4bf2;


//shadows
$shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
$barShadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
$btn1: 0 5px 10px 1px rgba($bottom-btn, 0.2), 0 2px 14px 2px rgba($bottom-btn, 0.1), 0 2px 5px -3px rgba($top-btn, 0.2);
$btn2: 0 5px 10px 1px rgba($bottom-btn2, 0.4), 0 2px 14px 2px rgba($bottom-btn2, 0.3), 0 2px 5px -3px rgba($top-btn2, 0.2);
$btn3: 0 5px 10px 1px rgba($bottom-btn3, 0.4), 0 2px 14px 2px rgba($bottom-btn3, 0.3), 0 2px 5px -3px rgba($top-btn3, 0.2);

//container
$container-bg: #232a43;

//cards
$background-card: #f9f9fd;

//bars
$bar: #252d47;

//font-colors
$white: #fff;
$price: #434f74;
$Zprice: #e8f0f8;